<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Shop Homepage - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>

<body>
	<div>
		<form action="kakaopay" method="post">
			<div class="row" style="margin: 0px 10px 0px 10px;">
				<div class="col-md-8">

					<div class="payment">결제하기</div>

					<div class="info-deli">
						<div class="delivery-info">배달정보</div>
						<div class="content-info">
							<div class="adrr-con">
								<span class="con-text1">주소</span> <input name="address"
									type="text" placeholder="(필수)주소입력">
							</div>

							<div class="adrr-con1">
								<span class="con-text1">상세주소</span> <input name="addressDetail"
									type="text" placeholder="(필수)상세주소 입력">
							</div>

							<div class="adrr-con2">
								<span class="con-text1">휴대전화</span> <input name="phone"
									type="text" placeholder="(필수)휴대전화 번호 입력">
							</div>
						</div>
					</div>

					<div class="inf-deli">
						<div class="delivery-info">주문시 요청사항</div>

						<div class="content-info">
							<textarea
								class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched"
								rows="3" ng-blur="check_order_request($event)" name="comment"
								ng-model="session_storage.checkout_input.comment"
								maxlength="100" style="margin: 10px; width: 95%;"
								placeholder="코로나19 예방을 위해 비대면 배달 권장드립니다. 요기서 결제 선택 후, &quot;문 앞 배달&quot;을 요청사항에 남겨주세요."></textarea>
						</div>
					</div>

					<div class="inf-deli">
						<div class="delivery-info">결제수단 선택</div>
						<div class="content-info">
							<div class="select">
								<p>슈퍼딜리버리서 결제</p>
								<input type="radio" id="select" name="shop"><label
									for="select">카카오페이</label>
							</div>
							<div class="select">
								<p>현장결제</p>
								<input lass="pay" type="radio" id="select2" name="shop"><label
									for="select2">현금</label>
							</div>
						</div>
					</div>
				</div>



				<div class="col-md-4">
					<div class="order" style="margin-left: 0%;">
						<div class="order-title">
							<span style="color: white;">주문표</span>
							<form action="resetCart" method="post"></form>
						</div>
						<ul th:if="${session.carts != null}">
							<li style="color: red;" th:each="om : ${session.carts.values()}"
								th:text="|${om.menu.menuName}   ${om.count} ${#numbers.formatInteger(om.cost,3,'COMMA')}원 |"></li>
						</ul>
					</div>
					<div>
<!-- 						<input type="button" class="orderbtn"
							onclick="alert('주문이 완료 되었습니다.');" value="결재하기" /> -->
							<button class="orderbtn" onclick="alert('주문이 완료 되었습니다.')">SEND</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
		$('.ch-pop').click(function() {
			$('.menu-fra').slideToggle();
		})
		$('.ch-pop1').click(function() {
			$('.menu-fra1').slideToggle();
		})
		$('.ch-pop2').click(function() {
			$('.menu-fra2').slideToggle();
		})
		$('.infor-menu').click(function() {
			$('.res-menu').css("display", "block");
		})
		$('.res-menu').css("display", "block");
		$('.menu-fra').slideToggle();
	</script>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>
