<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>검색</h1>
	<hr>
	<form action="search" method="post" style="border: 1px solid #ccc">
	 	<select id="select">
		<!-- 	<option name = "option" value="1" selected>식당</option>
			<option name = "option" value="2">메뉴</option>  -->
		<input type="text" name="option" value="1"/>
		</select>
	 	<label><b>검색할 내용 입력</b></label> 
		<input type="text" name="input" placeholder="검색할 식당을 입력." >
		<button type="submit">확인</button>
	</form>
</body>
</html>