<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
</head>
<title>DB리스트 출력</title>
<body>

<table>
	<tr>
		<td>가게이름</td>
		<td>가게주소</td>
		<td>카테고리</td>
		<td>전화번호</td>
		<td>썸네일</td>
		<td>영업시간</td>
		<td>위도</td>
		<td>경도</td>	
	</tr>
	<tr th:each = "r: ${restList}">
		<td th:text="${r.shop_name}"/>
		<td th:text="${r.shop_address}"/>
		<td th:text="${r.category}"/>
		<td th:text="${r.phone}"/>
		<td th:text="${r.thumbnail_photo}"/>
		<td th:text="${r.opening_hour}"/>
		<td th:text="${r.x}"/>
		<td th:text="${r.y}"/>
	</tr>
</table>





</body>
</html>