<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>유저 프로파일 페이지 입니다.</title>

<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d0d70f4ac50512a98af1e8c9f8c9b737"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<p>유저 프로파일 페이지 입니다.</p>


</body>
<title>회원가입</title>
</head>
<body>
	<form action="join" method="post">
		<p>
			ID : <input name="id" type="text" th:value="${session.email}"
				readonly />
		</p>
		<p>
			NAME : <input name="name" type="text" th:value="${session.nickName}" />
		</p>
		<p>
			PHONE : <input name="phone" type="text"></input>
		</p>
		<p>
			ADDRESS : <input name="address" type="text"></input>
		</p>
		<input type="submit">
	</form>
	<button type="button" class="btn btn-danger btn-xs" id='popupBtn'>PopUp</button>
	<script>
	window.onmessage = function (e) {
		$("input[name=address]").val(e.data);
    };
	$(document).ready(function(){
		var formObj = $("form[role='form']");
		
		$('#popupBtn').on("click",function(){
			window.open("/addressMap","주소검색","toolbar=yes,menuber=yes,width=550,height=550").focus();
		});
	});
	</script>


	<img th:src="${session.imgUrl}" />
	<span th:text="|${session.nickName}님 환영합니다.|"></span>
</html>