<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:fragment="layout(content, title)">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Shop Homepage - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="/">슈퍼딜리버리</a>


			<form class="d-flex">
				<div th:if="${session.loginStat}==null">
					<button class="btn btn-outline-dark" type="submit">
						<a
							href="https://kauth.kakao.com/oauth/authorize?client_id=7720e2e195b7f09bf3215d501c9ffb09&redirect_uri=http://localhost:8080/auth&response_type=code">카카오로그인</a>
					</button>
				</div>

				<div th:unless="${session.loginStat}==null">
					<p th:utext="${session.email}"></p>
					<button class="btn btn-outline-dark" type="submit">
						<a href="/logout">로그아웃</a>
					</button>

				</div>
			</form>
		</div>

	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="search-all">
				<form action="search" method="get">
					<input class="search-text" type="text" placeholder=" 주소 입력"  name="keyword">
					<button class="btn btn-outline-dark btn-sear"
						style="color: white; border-style: solid; border-color: white;"
						type="submit">검색</button>
				</form>
			</div>
		</div>
	</header>


	<!-- Section-->
	<div class="container" th:replace="${content}"></div>



	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2021</p>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>
